/* latin-ext */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(/fonts/Raleway-Regular_latin-ext.woff2?51bafff5002d14350afec586cea948f9) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(/fonts/Raleway-Regular_latin.woff2?9106435a7a18b6d90d24545c816923c1) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/fonts/Roboto-Regular_latin-ext.woff2?d4b4ed953e41382a252e13784f792013) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/fonts/Roboto-Regular_latin.woff2?7e367be02cd17a96d513ab74846bafb3) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  width: 100%;
  height: 100%;
  background-color: #2e5074;
  font-family: "Raleway";
  margin-top: 100px;
}

#app {
  background-color: #fff;
}

main {
  margin: 0;
}

body {
  background: none;
}

.centered {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

button {
  border: none;
  cursor: pointer;
  color: #000;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 18pt;
  background: #fff;
  font-family: "Roboto";
  margin: 5px;
  position: relative;
  overflow: hidden;
}

/* Ripple Effect On Click  Adapted from https://codepen.io/lehollandaisvolant/pen/dMQXYX */

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(136, 180, 72, 0.5);
  opacity: 0;
  border-radius: 100%;
  -webkit-transform: scale(1, 1) translate(-50%);
          transform: scale(1, 1) translate(-50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(25, 25);
            transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(40, 40);
            transform: scale(40, 40);
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(25, 25);
            transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(40, 40);
            transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  -webkit-animation: ripple 1s ease-out;
          animation: ripple 1s ease-out;
}

.skipbtn {
  font-size: 16pt;
  background: #233c57;
  border: 1px solid #fff;
  color: #fff;
}

.deleteBtn {
  background-color: #ac0f0f;
  color: #fff;
  border-radius: 5px;
}

.saveBtn {
  background-color: #88b448;
  color: #000;
  border-radius: 5px;
}

#landingContent h1 {
  color: #fff;
}

#landingLinks p {
  color: #fff;
}

#landingLinks .skipbtn {
  margin-top: 10px;
}

h1 {
  color: #000;
}

.sr-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.note {
  font-size: 75%;
}

form,
section,
article {
  padding: 5px;
}

input::-webkit-input-placeholder {
  color: #545454;
}

input::-moz-placeholder {
  color: #545454;
}

input:-ms-input-placeholder {
  color: #545454;
}

input::placeholder {
  color: #545454;
}

input:focus::-webkit-input-placeholder {
  color: #fff;
}

input:focus::-moz-placeholder {
  color: #fff;
}

input:focus:-ms-input-placeholder {
  color: #fff;
}

input:focus::placeholder {
  color: #fff;
}

.row {
  width: 100%;
  max-width: 62rem;
}

.row:after {
  content: ' ';
  display: table;
  clear: both;
}

.column {
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.avatar {
  float: right;
  border: 2px solid #2e5074;
  border-radius: 30%;
  max-width: 50%;
  max-height: 50%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #000;
  padding-left: 1rem;
}

header h1 {
  color: #000;
}

section {
  background-color: #fff;
  color: #000;
  padding: 4px;
  font-size: 14pt;
  border-bottom: 2px solid #000;
  margin-bottom: 5px;
}

section article {
  padding: 50px;
}

article {
  border-top: 2px solid #fff;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  min-height: 75px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
}

nav ul li {
  text-align: center;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 75px;
  padding: 2px;
}

nav ul li p {
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000;
}

nav ul li a:active {
  color: #fff;
}

nav ul li a:hover {
  cursor: pointer;
}

nav ul li i {
  width: 100%;
}

nav ul li i.fa {
  text-shadow: 1px 1px 1px #000;
}

nav ul li i.fa.fa-user {
  color: #88b448;
}

nav ul li i.fa.fa-lightbulb-o {
  color: #f16622;
}

nav ul li i.fa.fa-file-text {
  color: #ac0f0f;
}

nav ul li:active {
  background-color: #2e5074;
}

nav #logout {
  text-align: center;
}

nav h1 {
  padding-left: 12px;
  padding-top: 12px;
  font-size: 2em;
}

#search #searchOptions {
  display: none;
}

#search #searchOptions.open {
  display: block;
}

#searchBtn {
  padding: 4px;
}

#searchBtn p {
  margin: 0;
}

#new {
  display: none;
}

#new.open {
  display: block;
}

.toggle {
  border: 2px solid #2e5074;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px;
}

.toggle button {
  border-radius: 5px;
  font-size: 100%;
  padding: 15px;
}

.articleListing,
.ideaListing,
.sampleListing {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 8px;
  border-radius: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #000;
}

.articleListing h3,
.ideaListing h3,
.sampleListing h3 {
  font-weight: bold;
}

.articleListing .category,
.ideaListing .category,
.sampleListing .category,
.articleListing .desc,
.ideaListing .desc,
.sampleListing .desc {
  margin-top: 6px;
}

.articleListing .category,
.ideaListing .category,
.sampleListing .category {
  color: #2e5074;
}

.articleListing .desc,
.ideaListing .desc,
.sampleListing .desc {
  margin-left: 6px;
}

.articleListing .highlight,
.ideaListing .highlight,
.sampleListing .highlight {
  color: #2e5074;
}

.articleListing img,
.ideaListing img,
.sampleListing img {
  width: 10%;
  border-bottom-right-radius: 5px;
  border: 1px solid #000;
  margin-right: 8px;
}

.ideaListing img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
}

.ideaListing .category {
  margin-left: 6px;
}

.sampleListing img {
  width: 20%;
  float: right;
}

@media screen and (max-device-width: 43em) {
  /*          MOBILE                 */

  /*  Structure  */

  .small-1 {
    width: 8.333%;
  }

  .small-2 {
    width: 16.666%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.333%;
  }

  .small-5 {
    width: 41.666%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.333%;
  }

  .small-8 {
    width: 66.666%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.333%;
  }

  .small-11 {
    width: 91.666%;
  }

  .small-12 {
    width: 100%;
  }

  html {
    margin-bottom: 350px;
    margin-top: 0;
  }

  html body {
    padding: 0;
    margin: 0;
  }

  .small-hidden {
    display: none;
  }

  /*  Styling  */

  .landLogo {
    width: 60%;
  }

  .landLogo-cut20-top {
    width: 20%;
  }

  .pgLogo {
    width: 10%;
  }

  button {
    width: 75%;
  }

  nav {
    position: fixed;
    bottom: 0;
    top: 85%;
    border-top: 1px solid #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  nav ul lihover {
    font-size: 100%;
  }

  nav #account-nav {
    position: absolute;
    bottom: -500px;
  }

  .articleListing img,
  .ideaListing img,
  .sampleListing img {
    width: 20%;
  }

  #searchBtn {
    padding: 10px;
  }

  input[type="text"] {
    font-size: 125%;
    padding: 24px;
  }
}

@media screen and (min-device-width: 43em) {
  /*           DESKTOP                 */

  .large-1 {
    width: 8.333%;
  }

  .large-2 {
    width: 16.666%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.333%;
  }

  .large-5 {
    width: 41.666%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.333%;
  }

  .large-8 {
    width: 66.666%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.333%;
  }

  .large-11 {
    width: 91.666%;
  }

  .large-12 {
    width: 100%;
  }

  .large-hidden {
    display: none;
  }

  /*  Styling  */

  .landLogo,
  .landLogo-cut20-top {
    width: 20%;
  }

  .pgLogo {
    width: 3%;
  }

  nav {
    border-bottom: 2px solid #000;
  }

  nav ul li:hover {
    font-weight: bold;
  }

  nav #account-nav {
    position: absolute;
    top: -500px;
  }
}

label {
  width: 100%;
  font-size: 100%;
}

input {
  width: 100%;
}