// Variables
@import "variables";


html {
  width: 100%;
  height: 100%;
  background-color: $drkblue;
  font-family: $Raleway;
  margin-top: 100px;
}

#app {
  background-color: $white;

}


main {
  margin: 0;
}

// Counteract Background set by Foundation
body {
  background: none;
}



.centered {
    text-align: center;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

button {
  border: none;
  cursor: pointer;
  color: $black;
  padding: 15px;
  border: 1px solid $black;
  border-radius: 2px;
  font-size: 18pt;
  background: $white;
  font-family: $Roboto;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

/* Ripple Effect On Click  Adapted from https://codepen.io/lehollandaisvolant/pen/dMQXYX */

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba($green, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.skipbtn {
  font-size: 16pt;
  background: #233c57;
  border: 1px solid $white;
  color: $white;
}

.deleteBtn {
  background-color: $red;
  color: $white;
  border-radius: 5px;
}

.saveBtn {
  background-color: $green;
  color: $black;
  border-radius: 5px;
}

#landingContent {
  h1 {
    color: $white;
  }
}
#landingLinks {
  p {
    color: $white;
  }
  .skipbtn {
    margin-top: 10px;
  }
}


h1 {
  color: $black;
}

.sr-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.note {
    font-size: 75%;
}

form, section, article {
  padding: 5px;
}

// Make the Placeholder text of inputs darker.
input::placeholder {
  color: $grey;
}
// But when the input is selected, make it white (invisible)
input:focus::placeholder {
  color: $white;
}




// Responsive Layout

.row {
    width: 100%;
    max-width: 62rem;
}
.row:after {
    content: ' ';
    display: table;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.avatar {
  float: right;
  border: 2px solid $drkblue;
  border-radius: 30%;
  max-width: 50%;
  max-height: 50%;
  margin: 0;
  padding: 0;
}

header {
  background-color: $white;
  border-bottom: 2px solid $black;
  padding-left: 1rem;
  h1 {
    color: $black;
  }
}

section {
  background-color: $white;
  color: $black;
  padding: 4px;
  font-size: 14pt;
  border-bottom: 2px solid $black;
  margin-bottom: 5px;
  article {
    padding: 50px;
  }
}

article {
  border-top: 2px solid $white;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: $white;
  min-height: 75px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    li {
      text-align: center;
      float: left;
      list-style-type: none;
      padding: 0;
      margin: 0;
      min-height: 75px;
      padding: 2px;
      p {
        padding: 0;
        margin: 0;
      }
      a {
        display: block; // Make them fill the li
        text-decoration: none;
        color: $black;
        &:active {
          color: $white;
        }
        &:hover {
          cursor: pointer;
        }
      }
      i {
        width: 100%;

        &.fa {
          text-shadow: 1px 1px 1px #000;
          &.fa-user {
            color: $green;
          }
          &.fa-lightbulb-o {
            color: $orange;
          }
          &.fa-file-text {
            color: $red;
          }
        }
      }
      &:active {
        background-color: $drkblue;
      }
    }
  }
  #logout {
    text-align: center;
  }
  h1 {
    padding-left: 12px;
    padding-top: 12px;
    font-size: 2em;
  }
}

#search {
  #searchOptions {
    display: none;
    &.open {
      display:block;
    }
  }
}
#searchBtn {
  p {
    margin: 0;
  }
  padding: 4px;

}

#new {
  display: none;
  &.open {
    display:block;
  }
}

.toggle {
  border: 2px solid $drkblue;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px;
  button {
    border-radius: 5px;
    font-size: 100%;
    padding: 15px;
  }
}

.articleListing {
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;
  padding: 8px;
  border-radius: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  color: $black;
  h3 {
    font-weight: bold;
  }
  .category, .desc{
    margin-top: 6px;
  }
  .category {
    color: $drkblue;
  }
  .desc {
    margin-left: 6px;
  }
  .highlight {
    color: $drkblue;
  }

  img {
    width: 10%;
    border-bottom-right-radius: 5px;
    border: 1px solid $black;
    margin-right: 8px;
  }
}

.ideaListing {
  @extend .articleListing;
  img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
  }
  .category {
    margin-left: 6px;
  }
}

.sampleListing {
  @extend .articleListing;
  img {
    width: 20%;
    float: right;
  }
}

@media screen and (max-device-width: 43em) { /*          MOBILE                 */
    /*  Structure  */
    $x: 1;
    @each $size in $sizes {
        .small-#{$x} {
            width: #{$size};
        }
        $x: $x + 1;
    }

    html {
      margin-bottom: 350px;
      margin-top: 0;
      body {
        padding: 0;
        margin: 0;
      }
    }

    .small-hidden {
        display: none;
    }
    /*  Styling  */
    .landLogo {
        width: 60%;
    }
    .landLogo-cut20-top {
        width: 20%;
    }
    .pgLogo {
        width: 10%;
    }
    button {
      width: 75%;
    }

    //Mobile Navigation Styling

    nav {
      position: fixed;
      bottom: 0;
      top: 85%;
      border-top: 1px solid $black;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      ul li {
        &hover {
          font-size: 100%;
        }
      }
      #account-nav {
        position: absolute;
        bottom: -500px;
      }
    }

    .articleListing {
      img {
        width: 20%;
      }
    }

    #searchBtn{
      padding: 10px;
    }
    input[type="text"] {
      font-size: 125%;
      padding: 24px;
    }
}


@media screen and (min-device-width: 43em) { /*           DESKTOP                 */

    $y: 1;
    @each $size in $sizes {
        .large-#{$y} {
            width: #{$size};
        }
        $y: $y + 1;
    }

    .large-hidden {
        display: none;
    }

    /*  Styling  */

    .landLogo, .landLogo-cut20-top {
        width: 20%;
    }

    .pgLogo {
        width: 3%;
    }

    // Desktop Specific Navigation Styling
    nav {
      border-bottom: 2px solid $black;
      ul li {
        &:hover {
          font-weight: bold;
        }
      }
      #account-nav {
        position: absolute;
        top: -500px;
      }
    }


}
label {
  width: 100%;
  font-size: 100%;
}
input {
  width: 100%;
}
